body {
    margin: 0px auto;
    width: 100%;
}

div.titl {
	background-color: #ADD8E6;
}

div.titl h1{
	font-family: 'Candara', 'Calibri', 'Segoe', 'Segoe UI', 'Optima', Arial, sans-serif;
    padding: 10px;
    font-weight: bold;
    font-size: 2em;
    color: black;
    text-align: center;
}

p {
	font-family: 'Candara', 'Calibri', 'Segoe', 'Segoe UI', 'Optima', Arial, sans-serif;
	font-size: 1.5em;
    line-height: 1.4em;
    color: black;
    text-align: center;
}